doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js', charset='utf-8')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.js', charset='utf-8')
  body(class='with-3d-shadow with-transitions')
    block content
